<section class="footer-w3l">
  <section class="container">
    <section class="footer-grids">
      
      <section role="navigation" class="center social-icon web footer-grid socialIcon">
        <ul role="menubar">
          <li><a role="button" href="https://www.facebook.com/"><img src="../../images/facebook.ico"/></a></li>
          <li><a role="button" href="https://twitter.com/"><img src="../../images/twitter.ico"/></a></li>
          <li><a role="button" href="https://plus.google.com/"><img src="../../images/googleplus.ico"/></a></li>
          <li><a role="button" href="https://www.instagram.com/?hl=es"><img src="../../images/Instagram.ico"/></a></li>
        </ul>
      </section>
      <section class="clearfix"></section>
    </section>
  </section>
</section>
