//~/whoplaystonight_proyecto/src/client/styles$ sass --watch scss/estilos.scss:css/estilos_sass.css
@import "variables";
/* ------------------------------------  Común */
body {
  font-family: $textFont;
  font-size: 1.5em;
}
h1,h2,h3,h4 {
  font-family: $titleFont;
  margin:0;
}
input{
  width:98%;
  height: 40px;
}

/* ------------------------------------  Otras variables comunes */
/* Grid ---------------- */
.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
  margin-bottom: 10px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
  width: 100%;
}

@media all and ( min-width: 600px ) {

  /* set col widths */
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-1-4 {
    width: 25%;
  }
  .col-1-8 {
    width: 12.5%;
  }

}
/*Alineaciones ----------------*/
.aCenter {
  text-align: center;
}
.aRight {
  text-align: right;
}
.aLeft{
  text-align: left;
}
.fRight{
  float: right;
}
.fLeft{
  float: left;
}
.center{
  display:flex;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------  Header */
header{
    background-color: $backgroundcolor_grey;
    color: $text_white;
}

.logo{
    float:left;
    margin-top: 10px;
    h1 a {
      font-family: $headerFont;
      font-size:.8em;
      color: #fff;
      text-decoration: none;
      font-weight:600;
      margin-left: 20px;
      letter-spacing: 2px;
      @include bp-small{
        font-size:.8em;
      };
      @include bp-medium{
        font-size:.8em;
      };
    }
}
/* -----------------------  Menú */
@import "pages/menu";
/* ------------------------------------  Body */
@import "pages/main";
/*------------- Locate */
@import "pages/locate";
/*------------- Contact */
@import "pages/contact";
/* ------------------------------------  Footer */
.footer-w3l {
      @extend header;
}

.social-icon{
  margin-top: 1.8em;
  a{
    margin-left: 0px;
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
    img{
      border-radius: 50%;
    }
  }//a
  @include bp-small{
    ul li{
      display:block!important;
    }
  }
  @include bp-medium{
    ul li{
      display:inline!important;
    }
  }
  @include bp-large{
    ul li{
      display:inline!important;
    }
  }
}//social-icon

/* RESPONSIVE
   ========================================================================= */
 
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1199px) { 
  .bg_foto {
    background:url("/src/client/images/media/concertbg.jpg") center center;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }
 }
 
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 767px) { 
  .bg_foto {
    background:url("/src/client/images/media/concertbg.jpg") center center;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }
 }
 
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) { 
  .bg_foto {
    background:url("/src/client/images/media/concertbg.jpg") center center;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }
 }