//~/whoplaystonight_proyecto/src/client/styles$ sass --watch scss/estilos.scss:css/estilos_sass.css
@import "variables";
/* ------------------------------------  Común */
body {
  font-family: $textFont;
  font-size: 1.5em;
}
h1,h2,h3,h4 {
  font-family: $titleFont;
  margin:0;
}
input{
  width:98%;
  height: 40px;
}

/* ------------------------------------  Otras variables comunes */
.aCenter {
  text-align: center;
}
.aRight {
  text-align: right;
}
.aLeft{
  text-align: left;
}
.fRight{
  float: right;
}
.fLeft{
  float: left;
}
.center{
  display:flex;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------  Header */
header{
    background-color: $backgroundcolor_grey;
    color: $text_white;
}

.logo{
    float:left;
    margin-top: 10px;
    h1 a {
      font-family: $headerFont;
      font-size:.8em;
      color: #fff;
      text-decoration: none;
      font-weight:600;
      margin-left: 20px;
      letter-spacing: 2px;
      @include bp-small{
        font-size:.8em;
      };
      @include bp-medium{
        font-size:.8em;
      };
    }
}
/* -----------------------  Menú */
@import "pages/menu";
/* ------------------------------------  Body */
@import "pages/main";
/*------------- Locate */
@import "pages/locate";
@import "pages/contact";
/* ------------------------------------  Footer */
.footer-w3l {
      @extend header;
}

.social-icon{
  margin-top: 1.8em;
  a{
    margin-left: 0px;
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
    img{
      border-radius: 50%;
    }
  }//a
  @include bp-small{
    ul li{
      display:block!important;
    }
  }
  @include bp-medium{
    ul li{
      display:inline!important;
    }
  }
  @include bp-large{
    ul li{
      display:inline!important;
    }
  }
}//social-icon
