//~/whoplaystonight_MEAN/src/client/styles$ sass --watch scss/estilos.scss:css/estilos_sass.css
@import "normalize.css";
@import "variables";
/* ------------------------------------  Común */
body {
  font-family: $textFont;
}
h1,h2,h3,h4 {
  font-family: $titleFont;
  margin:0;
}
input{
  width:98%;
  height: 40px;
}

/* ------------------------------------  Otras variables comunes */
.aCenter {
  text-align: center;
}
.aRight {
  text-align: right;
}
.aLeft{
  text-align: left;
}
.fRight{
  float: right;
}
.fLeft{
  float: left;
}
.center{
  display:flex;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------  Header */
header{
    background-color: $backgroundcolor_grey;
    color: $text_white;
}

.logo{
    float:left;
    margin-top: 10px;
    h1 a {
      font-family: $headerFont;
      font-size:.8em;
      color: #fff;
      text-decoration: none;
      font-weight:600;
      margin-left: 20px;
      letter-spacing: 2px;
      @include bp-small{
        font-size:.8em;
      };
      @include bp-medium{
        font-size:.8em;
      };
    }
}
/* -----------------------  Menú */
@import "menu";

/* ------------------------------------  Body */
.video-background{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.video-controls {
  display: none;
}

.welcome {
  background-color: $backgroundcolor_grey;
  color: $text_white;
  div {
    padding: 40px;
  }
  h2 {
    margin: 0;
    font-size: 2.2em;
    span{
      color:$red_color;
      font-size: 1.5em;
    }
  }
  div > h2, h4 {
    color: $text_white;
  }
}
.search{
  padding: 90px;
  div {
    background-color: rgba(46, 46, 46, 0.76);
    width: 700px;
    margin: 0 auto;
    padding: 30px;
  }
  div h4 {
    color: $text_white;
    margin-bottom: 10px;
  }
  #input-search {
    border-radius: 0;
    border: 3px $red_color solid;
    background-color: $backgroundcolor_grey;
    color: $text_white;
    width: 500px;
    margin: 10px;
    margin: 0 auto;
    
  }
  .btn_main {
    width: 176px;
    border: none;
    background: $text_white;
    margin-left: 70px;
    margin-top: 10px;
  }
}
/*------------- Locate */
@import "locate";
/* ------------------------------------  Footer */
.footer-w3l {
      @extend header;
}

.social-icon{
  margin-top: 1.8em;
  a{
    margin-left: 0px;
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
    img{
      border-radius: 50%;
    }
  }//a
  @include bp-small{
    ul li{
      display:block!important;
    }
  }
  @include bp-medium{
    ul li{
      display:inline!important;
    }
  }
  @include bp-large{
    ul li{
      display:inline!important;
    }
  }
}//social-icon
