ul.topnav li.icon {
    display: none;
}
header {
    width:100%;
    position: inherit;
}

header nav {
    width:100%;
    background:#2E2E2E;
    padding-bottom: 20px;
    float: right;
}
.container a {
    color: #FFF;
    text-decoration: none;
    font: 20px 'Montserrat', sans-serif;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.container {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}
.menu_bar {
    display:none;
}

header nav ul {
    overflow:hidden;
    list-style:none;
}

header nav ul li {
    float:left;
}

header nav ul li a {
    color:#fff;
    padding:20px;
    display:block;
    text-decoration:none;
}
li > a:hover {
    background: #2E2E2E !important;
}
header nav ul li span {
    margin-right:10px;
}

.info-head {
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.indicat {
    float: left;
}
.indicat span{
    font-size: 1em;
    color: #fff;
}
.detail {
    float: right;
}
.detail ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 0.5em;
    color: #fff;
}

@media screen and (max-width:800px) {
    ul.topnav li/*:not(:first-child)*/ {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
    .fRight {
        float: none;
    }
    
}

@media screen and (max-width:800px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}