$backgroundcolor_grey:#2E2E2E;
$backgroundcolor_blue:#1665ac;
$text_white:#ffffff;
$red_color: #D24D57;
$headerFont:'Righteous', cursive;
$textFont:'Ubuntu', sans-serif;
$titleFont: 'Cabin', sans-serif;


@mixin bp-small {
  @media only screen and (min-width: 500px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 850px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 960px) {
    @content;
  }
}
