<div class="container locate">
  <div class="title_locate aCenter">
    <h2>{{'EVENTS_TITLE' | translate}}</h2>
    <p>{{'EVENTS_DESCRIPTION' | translate}}</p>
  </div>

  <div class="widget-content user">

    <div class="image fit">
      <div id="mapholder">
        <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">
          <!--To show the browser location marker on the map-->
          <ui-gmap-marker idkey="vm.location.id" coords="vm.location.coords" options="vm.location.options"></ui-gmap-marker>
          <!--To show the events location markers on the map-->
          <ui-gmap-markers models="vm.eventsMarkers" coords="'self'" icon="'icon'" events="vm.clickMarker"></ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
      <br>

    </div>
    <section id="filterEvents">
      <label for="searchEvents">{{'SEARCH_TEXT' | translate}}</label>
      <br>
      <input id="searchEvents" type="text" class="filtre" ng-model="vm.filtro">
    </section>
    <div class="ofertas">
      <div ht-widget-header title="Events" allow-collapse="true"></div>
      <div class="widget-content text-center text-info">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>{{'TOWN_TH' | translate}}</th>
              <th>{{'BANDNAME_TH' | translate}}</th>
              <th>{{'DATEEVENT_TH' | translate}}</th>
              <th>{{'STARTTIME_TH' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="evs in vm.filteredEvents | filter:vm.filtro">
              <td>{{evs.town}}</td>
              <td>{{evs.band_name}}</td>
              <td>{{evs.date_event}}</td>
              <td>{{evs.start}}</td>
              <td><button id="{{evs.event_id}}" ng-click="vm.showDetails(evs)">Details</button></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="widget-foot">
        <div class="clearfix">
          <div id="pager">
            <uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" class="pagination-sm" items-per-page="vm.itemsPerPage"
              ng-change="vm.pageChanged()"></uib-pagination>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="widget-foot">
    <div class="clearfix"></div>
  </div>