<section class="changepassword">
    <form name='changepassword'>
        <label for="password">Introduce your password:</label><br />
        <input type="password" class='form-control' placeholder='password' name='password' ng-model='vm.password'
            required ng-class='{ error: changepassword.password.$invalid && !changepassword.$pristine, warning: changepassword.password.$error.password }'><br />
            <span ng-show='!changepassword.$pristine && changepassword.password.$error.required'>password is required</span>
            <span ng-show='!changepassword.$pristine && changepassword.password.$error.pattern'>Please enter a valid password</span><br />
        <button type="submit" class="btn btn-primary" ng-disabled='!changepassword.$valid' ng-click="vm.changepassword()">Send message</button>
    </form>
</section>