<section class="mainbar">


  <div ht-widget-header title="{{vm.title}}"></div>
  <div class="widget-content user">
    <h3>Welcome {{$root.authUser.name}}</h3>
    <img ng-src="{{$root.authUser.avatar}}" alt="avatar">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{$root.authUser.name}}">
    <label for="email">Email:</label>
    <input type="text" name="email" value="{{$root.authUser.email}}">
    <form action="/file-upload" class="dropzone" id="my-awesome-dropzone">
    </form>
    <button class="btn btn-block" type="submit" ng-click="vm.submitEditProfile()">Edit profile</button>
  </div>
  <div class="widget-foot">
    <div class="clearfix"></div>
  </div>



  <form id="update_form" name="update_form">
    <input ng-value="myVar">
    <input type="hidden" class='form-control' value="{{$root.authUser.username}}" name='username'>
    <div class='form-group'>
      <label for="name">Name:</label>
      <input type="text" class='form-control' value="{{$root.authUser.name}}" name='name' required ng-class='{ error: update_form.username.$invalid && !update_form.$pristine, warning: update_form.username.$error.name }'>
      <span ng-show='!update_form.$pristine && update_form.name.$error.required'>Name is required</span>
    </div>

    <div class='form-group'>
      <label for="email">Email</label>
      <input type="email" ng-model='vm.email' class='form-control' value="{{$root.authUser.email}}" name='email' required ng-class='{ error: update_form.email.$invalid && !update_form.$pristine }'>
      <span ng-show='!update_form.$pristine && update_form.email.$error.required'>Email is required</span>
    </div>

    <br />

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="update_form.$invalid" ng-click="vm.submitEditProfile()">Update</button>
  </form>
</section>