<section class="profile">

  <img ng-src="{{vm.avatar}}"></img>

<div class="button" ngf-select="upload($file)">Click to upload avatar</div>
<div ngf-drop="upload($file)" ngf-select="upload($file)" class="drop-box dropzone"
  ngf-drag-over-class="'dragover'" ngf-multiple="true" 
  ngf-pattern="'image/*'">Drop Avatar here</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

  <form id="update_form" name="update_form">
    <div class='form-group'>
      <label for="name">Name:</label>
      <input type="text" ng-model="vm.name" class='form-control' name='name' required ng-class='{ error: update_form.username.$invalid && !update_form.$pristine, warning: update_form.username.$error.name }'>
      <span ng-show='!update_form.$pristine && update_form.name.$error.required'>Name is required</span>
    </div>

    <div class='form-group'>
      <label for="email">Email</label>
      <input type="email" ng-model='vm.email' class='form-control' value="{{$root.authUser.email}}" name='email' required ng-class='{ error: update_form.email.$invalid && !update_form.$pristine }'>
      <span ng-show='!update_form.$pristine && update_form.email.$error.required'>Email is required</span>
    </div>
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="update_form.$invalid" ng-click="vm.submitEditProfile()">Update</button>
  </form>
</section>
<hr/>
<section class="events">
  <h2>{{'MY_EVENTS' | translate}}</h2>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>{{'TOWN_TH' | translate}}</th>
        <th>{{'BANDNAME_TH' | translate}}</th>
        <th>{{'DATEEVENT_TH' | translate}}</th>
        <th>{{'STARTTIME_TH' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="evs in vm.events.data">
        <td>{{evs.town}}</td>
        <td>{{evs.band_name}}</td>
        <td>{{evs.date_event}}</td>
        <td>{{evs.start}}</td>
      </tr>
    </tbody>
  </table>
</section>